* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}
.list-filters-container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}
.top-designers-container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}
.footer-container {
  max-width: 1092px;
  width: 100%;
  margin: 0 auto;
}
body {
  background-color: white;
}
.input-user {
  display: flex;
  justify-content: space-between;
}
.header-first-group {
  display: flex;
  margin-left: 20px;
}
.logo {
  margin-top: 40px;

  width: 146px;
  height: 32px;
}
.lines {
  margin-top: 50px;
  width: 26px;
  height: 11px;
  margin-left: 87px;
  margin-right: 55px;
}

.input-search {
  display: flex;
  justify-content: space-between;
}
.input {
  position: relative;
  margin-top: 30px;
}
input {
  width: 446px;
  height: 56px;
  border-radius: 15px;
  background-color: #f8f8f8;
  font-size: 14px;
  color: #111111;
}
.search {
  position: absolute;
  margin-top: 45px;
  margin-left: 400px;
}
.user-group {
  display: flex;
  margin-top: 48px;
  margin-right: 25px;
}
.email-bell {
  display: flex;
  position: relative;
  width: 24px;
  height: 24px;
  margin-left: 25px;
  margin-right: 25px;
}
.circle-one::after {
  content: "";
  position: absolute;
  left: 18px;
  width: 10px;
  height: 10px;
  background-color: #ff2288;
  border-radius: 15px;
}

.circle-two::after {
  content: "";
  position: absolute;
  left: 15px;
  width: 10px;
  height: 10px;
  background-color: #ff2288;
  border-radius: 15px;
  margin-right: 40px;
}
.user {
  width: 56px;
  height: 56px;
  margin-left: 25px;
  margin-right: 25px;
}
.go-pro a {
  font-size: 14px;
  width: 55px;
  height: 19px;
  color: #ff2288;
}
.upload {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 129px;
  height: 56px;
  border-radius: 15px;
  background-color: #ff2288;
}
.upload a {
  color: #ffffff;
  font-size: 14px;
  text-align: center;
}
.list-filters {
  display: flex;
  justify-content: space-between;
}

.list {
  display: flex;
  margin-top: 87px;
  margin-left: 30px;
}

.list a {
  margin-right: 50px;
  color: #222222;
  font-size: 16px;
}
.filters {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;

  width: 132px;
  height: 56px;
  background-color: #d8d8d8;
  border: 1px solid #d8d8d8;
  border-radius: 15px;
}
.filters img {
  margin-right: 20px;
}
.filters img a {
  width: 24px;
  height: 24px;
}
.filters a {
  color: #222222;
  font-size: 16px;
}
.header-first-group {
  position: relative;
  z-index: 1;
}
aside {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  position: absolute;
  top: 0px;
  width: 319px;
  height: 1200px;
  background-color: #111111;
}
.home {
  margin-left: 45px;
  margin-top: 200px;
}
.home img {
  width: 24px;
  height: 24px;
  margin-right: 15px;
  margin-bottom: 25px;
}
.home a {
  font-size: 16px;
  color: #ffffff;
}

.home-first {
  display: flex;
  position: relative;
  margin-top: 50px;
}
.home div p {
  margin-top: 3px;
}
.following {
  display: flex;
  flex-direction: column;
}
.following img {
  width: 44px;
  height: 44px;
}
.following p {
  font-size: 16px;
  color: #ffffff;
}
.follow-button {
  margin-top: 87px;
}
.follow-button p {
  width: 66px;
  font-size: 12px;
  color: #ffffff;
}
.follow-avatar {
  margin-top: 31px;
}
.hom-second {
  display: flex;
}
.hom-second div {
  margin-top: 5px;
}
.following div p {
  margin-top: 10px;
}
.load-more {
  margin-top: 19 px;
}
.load-more span {
  margin-top: 20px;
  width: 94px;
  height: 19px;
  font-size: 14px;
  color: #ffffff;
}
.section-group-one {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 289px;
}
.box {
  position: relative;
}
.child {
  position: absolute;
  top: 2px;
  margin-left: 40px;
  font-size: 18px;
  width: 289px;
  height: 52px;
  color: #222222;
}
.load2 {
  position: relative;
  left: 550px;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 12px;
  background-color: #f2f2f2;
  width: 289px;
  height: 56px;
  margin-top: 90px;
}

.load-child {
  position: absolute;
  margin-left: 106px;
  width: 76px;
  height: 21px;
  font-size: 16px;
  color: #222222;
}
.section-top {
  position: relative;
  width: 1601px;
  height: 500px;
  background-color: #fafafa;
}

.top-designers {
  position: absolute;
  top: 67px;
}
.top-designers h1 {
  font-size: 32px;
  width: 199px;
  height: 43px;
  font-size: 32px;
  color: #222222;
}
.section-group-two {
  margin-top: 54px;

  position: relative;
}
.avatar {
  display: flex;
  justify-content: space-between;
  margin-top: 164px;
  position: absolute;
}
.avatar div {
  margin-right: 25px;
}
.avatar img {
  width: 132px;
  min-height: 132px;
}
.avatar div .name {
  width: 70px;
  height: 42px;
  font-size: 16px;
  color: #222222;
  margin-left: 30px;
  margin-top: 15px;
}
.avatar div .city {
  width: 118px;
  height: 16px;
  font-size: 12px;
  color: #222222;
  opacity: 0.6;
  margin-left: 30px;
  margin-top: 10px;
}
.avatar-following {
  position: relative;
  width: 132px;
  height: 44px;
  background-color: #f2f2f2;
  border-radius: 12px;
  opacity: 1;
  margin-top: 17px;
}
.avatar-text {
  position: absolute;
  left: 35px;
  top: 12px;
  font-size: 14px;
  color: #222222;
}
.all-columns {
  display: flex;
  justify-content: space-between;
  margin-top: 69px;
}
.first-column {
  display: flex;
  flex-direction: column;
}
.for-designers {
  width: 95px;
  height: 21px;
  margin-bottom: 10px;
  font-size: 16px;
  color: #222222;
}
.first-list a p {
  margin-top: 33px;
  font-size: 16px;
  color: #222222;
}
.second-column {
  display: flex;
  flex-direction: column;
}
.hire-designers {
  width: 120px;
  height: 21px;
  margin-bottom: 15px;
  font-size: 16px;
  color: #222222;
}
.second-list a p {
  margin-top: 20px;
  font-size: 16px;
  color: #222222;
}
.third-column {
  display: flex;
  flex-direction: column;
}
.company {
  width: 95px;
  height: 21px;
  margin-bottom: 15px;
  font-size: 16px;
  color: #222222;
}
.third-list a p {
  margin-top: 20px;
  font-size: 16px;
  color: #222222;
}
.fourth-column {
  display: flex;
  flex-direction: column;
}
.directories {
  width: 95px;
  height: 21px;
  margin-bottom: 15px;
  font-size: 16px;
  color: #222222;
}
.fourth-list a p {
  margin-top: 33px;
  font-size: 16px;
  color: #222222;
}
.last-part {
  display: flex;
  justify-content: space-between;
  margin-top: 153px;
}
.last-part img {
  margin-right: 15px;
}
.schedule-container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.schedule {
  display: flex;
  flex-direction: column;
}
.schedule-header {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 30px;
}
.header-elements p {
  width: 68px;
  height: 24px;
  margin-right: 123px;
  font-size: 18px;
  color: #111111;
}
.count {
  display: flex;
  margin-bottom: 40px;
  width: 1000px;
  height: 72px;
  border-top: 1px solid #afafaf;
}
.count7 a p {
  color: #ff2288;
}
.elements {
  margin-right: 47px;
  margin-top: 50px;
}

.count7 {
  display: flex;
  margin-bottom: 40px;
  height: 72px;
  width: 1000px;
  border-top: 1px solid #afafaf;
}
.count9 {
  display: flex;
  margin-bottom: 40px;
  height: 72px;
  margin-bottom: 200px;
  width: 1000px;
  border-top: 1px solid #afafaf;
}

.count-elements p {
  width: 142px;
  height: 21px;
  font-size: 16px;
  color: #afafaf;
}
/* hover */
.home-button:hover {
  transition-property: all;
  transition-delay: 0.1s;
  border-radius: 12px;
  background-color: #ff2288;
  width: 259;
  height: 60px;
}
.list div:hover {
  transition-property: all;
  transition-delay: 0.1s;
  border-radius: 12px;
  background-color: #f2f2f2;
  width: 130px;
  height: 40px;
}
.count:hover {
  transition-property: all;
  transition-delay: 0.1s;
  border-radius: 12px;
  background-color: #f2f2f2;
  width: 1000px;
  height: 72px;
  
} 
.count a:hover {
  color: #222222;
}
.count9:hover {
  transition-property: all;
  transition-delay: 0.1s;
  border-radius: 12px;
  background-color: #f2f2f2;
  width: 1000px;
  height: 72px;
}
.count7:hover {
  transition-property: all;
  transition-delay: 0.1s;
  border-radius: 12px;
  background-color: #f2f2f2;
  width: 1000px;
  height: 72px;
}
